{% extends 'base.html' %}
{% load static %}
{% block title %}Socios{% endblock %}
{% block section_title %}Socios{% endblock %}
{% block padder %}
<div class="col-lg-12 col-lg-push-0 col-sm-12 col-xs-push-0">
{% endblock %}
{% block main %}
{% if partners %}
	<div class="col-lg-12 col-sm-12 col-xs-push-0">
		<div class="card">
			<div class="card-main">
				<div class="card-inner margin-bottom-no">
					<p class="card-heading">Socios</p>
					<div class="card-table">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th></th>
										<th>Nombre completo</th>
										<th>No. documento</th>
										<th>Club</th>
										<th>Estado</th>
										<th>Correo</th>
										<th>Teléfono</th>
										<th class="text-center">Acción</th>
									</tr>
								</thead>
								<tbody>
									{% for partner in partners %}
									<tr>
										<td><img class="avatar" height="50px" src="/media/{{partner.photo}}" alt=""/></td>
										<td>{{partner.get_full_name}}</td>
										<td>{{partner.doc_id}}</td>
										<td>{{partner.club}}</td>
										<td>
											{% if partner.is_approved and partner.is_active %}
												<span class="label label-green">Activo</span>
											{% elif partner.is_approved and not partner.is_active %}
												<span class="label">Inactivo</span>
											{% else %} <span class="label label-red">Registrado</span>{% endif %}
										</td>
										<td>{{partner.email}}</td>
										<td>{{partner.phone}}</td>
										<td>
											<ul class="nav nav-list margin-no pull-right">
												<li>
													<a class="text-black-sec waves-attach waves-effect" href="{% url 'partners:view' partner.id %}">
														<b><span class="icon">remove_red_eyes</span>&nbsp;</b>
													</a>
												</li>
												<li>
													<a class="text-black-sec waves-attach waves-effect" href="{% url 'partners:edit' partner.id %}">
														<b><span class="icon">edit</span>&nbsp;</b>
													</a>
												</li>
												<li>
													<a class="text-black-sec waves-attach waves-effect" href="{% url 'partners:toggle_active' partner.id %}">
														{% if partner.is_active %}
														<b><span class="icon">lock</span>&nbsp;</b>
														{% else %}
														<b><span class="icon">lock_open</span>&nbsp;</b>
														{% endif %}
													</a>
												</li>
											</ul>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="card-action">
					<div class="card-action-btn pull-right">
						<a class="btn btn-flat waves-attach waves-effect" href="javascript:void(0)"><span class="icon">chevron_left</span></a>
						<a class="btn btn-flat waves-attach waves-effect" href="javascript:void(0)"><span class="icon">chevron_right</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% else %}
	<div class="col-lg-8 col-sm-8 col-sm-push-2 col-xs-push-0">
		<div class="card">
			<div class="card-main">
				<div class="card-header">
					<div class="card-inner">
						<span class="card-heading">No se han registrado socios</span>
					</div>
				</div>
				<div class="card-img" style="max-height:150px;min-height:100px; vertical-align:middle">
					<img alt="alt text" src="{% static 'images/samples/landscape.jpg' %}" style="margin-top:-50px;width: 100%;">
					<p class="card-img-heading">No se han encontrado socios registrados, puedes agregar un nuevo socio a continuación.</p>
				</div>
				<div class="card-action">
					<div class="card-action-btn pull-right">
						<a class="btn btn-brand waves-attach waves-effect" href="{% url 'partners:new'%}">
							<span class="icon">add</span>&nbsp;Agregar un socio
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}
{% endblock %}

{% block float_action %}
	<div class="fbtn-container">
		<div class="fbtn-inner">
			<a class="fbtn fbtn-lg fbtn-brand waves-attach waves-circle waves-effect" href="{% url 'partners:new' %}">
				<span class="icon">add</span>
				<span class="fbtn-text fbtn-text-left"> Registrar un nuevo socio </span>
			</a>
		</div>
	</div>
{% endblock %}