{% extends 'base.html' %}

{% block title %}{% if editing %}Editar socio{% else %}Nuevo socio{% endif %}{% endblock %}
{% block section_title %}Socios{% endblock %}


{% block main %}
		<div class="col-lg-8 col-sm-8 col-sm-push-2 col-xs-push-0 xs-hidden">
			<div class="card">
				<div class="card-main">
					{% if pass %}
					<div class="alert alert-success">
						Se ha cambiado la clave del usuario
						{{form.errors}}
					</div>
					{% elif form.errors %}
					<div class="alert alert-danger">
						Hay errores en el formulario
					</div>
					{% endif %}
					<form action="." method="POST" enctype="multipart/form-data">
						<div class="card-header">
							<div class="card-inner">
								<span class="card-heading">
									{% if editing %} Editar información del socio: {{partner.get_full_name}}
									{% else %}Registrar un nuevo socio{% endif %}
								</span>
							</div>
						</div>
						<div class="card-inner">
							<div class="col-md-12 col-xs-push-0">
								{% csrf_token %}
								{% for fieldset in form.fieldsets %}
								<div class="card" style="margin-top:0;margin-bottom:10px;">
									<div class="card-main">
										<div class="card-inner">
											<p>
												<a class="btn btn-flat collapsed waves-attach waves-effect" data-toggle="collapse" href="#collapse_{{ forloop.counter }}">
													<span class="collapsed-hide">{{fieldset.legend}}</span>
													<span class="collapsed-show">{{fieldset.legend}}</span>
												</a>
											</p>

											<div class="collapsible-region collapse {% if fieldset.errors %}in{%endif%}" id="collapse_{{ forloop.counter }}">
												{% for field in fieldset %}
													{% if not forloop.counter|divisibleby:2 %}
													<div class="row">
														{% include 'field_handler.html' %}
													{% else %}
														{% include 'field_handler.html' %}
													</div>
													{% endif %}

													{% if forloop.last and not forloop.counter|divisibleby:2 %}
													</div>
													{% endif %}
												{% endfor %}
											</div>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>

							<div class="form-group">
								<div class="row">
									<div class="col-md-12">

									</div>
								</div>
							</div>

						</div>

						<div class="card-action">
							<div class="card-action-btn pull-right">
								<a class="btn btn-red waves-attach waves-effect" href="{% url 'partners:home'%}">
									<span class="icon">chevron_left</span>&nbsp;Cancelar
								</a>
								<button class="btn btn-brand waves-attach waves-effect">
									{%if editing%}<span class="icon">save</span>&nbsp; Guardar cambios
									{% else %}<span class="icon">add</span>&nbsp;Agregar socio{% endif %}
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
{% endblock %}

{% block js %}
	$(document).ready(function(){

		$('#id_birth_date, #id_member_since').pickdate({
			closeOnCancel: false,
			closeOnSelect: true,
			container: '',
			firstDay: 1,
			format: 'dd/mm/yyyy', // escape any formatting characters with an exclamation mark
			formatSubmit: 'dd/mm/yyyy',
			selectMonths: true,
			selectYears: 90,
			today: '',
		});



		$("#id_photo,#id_dni_support,#id_reference_letter,#id_request_letter,#id_release_letter,#id_eps_affiliation,#id_legal_records,#id_bank_deposit")
			.hide().siblings('label').after('<input type="text" class="replace form-control"/>');

		$(".replace").bind('click', function(){
			$(this).siblings('input[type=file]').click();
		});

		$("#id_photo,#id_dni_support,#id_reference_letter,#id_request_letter,#id_release_letter,#id_eps_affiliation,#id_legal_records,#id_bank_deposit")
			.bind('change', function(){
				$(this).siblings('.replace').val($(this).val().split(/(\\|\/)/g).pop())
		});

		$('select option:first').html('').removeAttr('selected').removeAttr('value');

	});
{% endblock %}

{% block float_action %}
{% endblock %}