{% load static %}
<div style="width:80%;min-width:600px;margin:10%">
    <div style="text-align:center;verical-align:middle;">
        <img src="http://actp.com.co/static/images/logo_2.png" height="60px" alt="Logo ACTP"/>
        <h3>Asociación Colombiana de Tiro de Precisión</h3>
    </div>
    <div>
        <p>Hola, {{name}}.</p>
        <p>
            Se ha registrado tu solicitud de afiliación a través del sitio web.
        </p>
        <p>
            A partir de ahora la junta directiva de la asociación hará la revisión de infomación y documental correspondiente para
            realizar la aprobación de la solicitud. Una vez aprobada se te notificará a través de este medio.
        </p>

        Cordialmente.<br>
        <p><b>Asociación Colombiana de Tiro de Precisión - ACTP</b></p>
    </div>
    <hr style="border: 1px solid #ddd">
</div>
