{% load static %}
<div style="width:80%;min-width:600px;margin:10%">
    <div style="text-align:center;verical-align:middle;">
        <img src="http://actp.com.co/static/images/logo_2.png" height="60px" alt="Logo ACTP"/>
        <h3>Asociación Colombiana de Tiro de Precisión</h3>
    </div>
    <hr style="border: 1px solid #ddd">
    <div>
        <p>Se ha registrado una solicitud a través del sitio web:</p>
        <p>
            Para revisar esta solicitud use <a href="http://actp.com.co{% url 'partners:view' id %}">este enlace</a>
        </p>
    </div>
</div>
