{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">
	<title>Asociación Colombiana de Tiro de Precisión</title>

	<!-- css -->
	<link href="{% static 'css/base.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/project.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

	<!-- favicon -->
	<link rel="icon" href="{% static 'images/favicon.png' %}" sizes="16x16">
	<!-- ... -->
</head>
<body class="page-brand">

	<main class="content">
		<div class="content-header ui-content-header">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
						<h1 class="content-heading" style="margin-top:0px;">
							<img height="100px" src="/static/images/logo_2.png" alt="">
							{% block section_title %}Asociación Colombiana de Tiro de Precisión{% endblock %}
						</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				{% block padder %}
				<div class="col-lg-10 col-lg-push-1 col-sm-10 col-sm-push-1">
				{% endblock %}
					<section class="content-inner margin-top-no">
						{% block main %}
						<div class="col-lg-12 col-sm-12 col-sm-push-0">
							<div class="card border-top yellow">
								<div class="card-main">
									<div class="card-action">
										<div class="card-action-btn pull-left">
											<a class="btn btn-flat waves-attach waves-effect" href="/">
												<span class="icon">home</span>&nbsp;Inicio
											</a>
										</div>
										<div class="card-action-btn pull-right">
											<a class="btn btn-brand waves-attach waves-effect" href="/admin/">
												<span class="icon">account_circle</span>&nbsp;Acceso
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-8 col-sm-8 col-sm-push-0">
							<div class="card" style="margin-top:0">
								<div class="card-main">
									<div class="card-header">
										<div class="card-inner">
											<span class="card-heading">Abiertas inscripciones al torneo nacional ACTP 2016</span>
										</div>
									</div>
									<div class="card-inner">
										<p class="text-justify">
											La junta directiva de la ACTP se complace en anunciar que se han abierto las inscirpciones para
											el torneo nacional 2016. El cual se realizará en el municipio de Girardota - Antioquia, los días
											2, 3 y 4 de julio.
										</p>
										<p class="text-justify">
											En esta ocasión los participantes podrán competir en dos deportes: Field Target y Air Benchrest, en las
											categorías WFTF y Open.
											(<a class="btn-flat btn-brand" target="_blank" href="{% static 'docs/Programacion_Torneo_Nacional_2016.pdf' %}">
												<span class="icon">launch</span>Vea aquí la programación
											</a>)
										</p>
										<h4>Inscripción</h4>
										<p class="text-justify">
											Para poder participar es necesario pertenecer a la asociación, este año se cuenta con un sistema de
											información a través del cual se podrá realizar la afiliación y el registro de equipos deportivos para
											competición. Tenga en cuenta lo siguiente para el momento de su inscripción.
										</p>
										<ol class="text-justify">
											<li>
												Diligenciar la información solicitada y proveer TODOS los soportes requeridos en el momento
												de la inscripción.
											</li>
											<li>
												Los soportes se deben subir en formato PDF (extensión *.pdf) a excepción de la foto, la cual puede estar en formato
												JPG o PNG. Los siguientes son los soportes
												necesarios:
												<ul>
													<li>Foto. Tipo cédula, cuadrada, mínimo de 4cm de lado (150px)</li>
													<li>Cédula de ciudadanía</li>
													<li>Carta de recomendación</li>
													<li>Carta de solicitud
														(<a href="{% static 'docs/solicitud.docx' %}" class="btn-flat btn-brand">
															<span class="icon">cloud_download</span> bajar formato
														</a>)
													</li>
													<li>Carta de exoneración
														(<a href="{% static 'docs/exoneracion.docx' %}" class="btn-flat btn-brand">
															<span class="icon">cloud_download</span> bajar formato
														</a>)
													</li>
													<li>Afiliación EPS
														(si no la tiene a la mano, puede <a target="_blank" href="http://www.fosyga.gov.co/Consultas/BDUABasedeDatosUnicadeAfiliados/AfiliadosBDUA/tabid/436/Default.aspx" class="btn-flat btn-brand">
															<span class="icon">launch</span> consultar estado fosyga aquí
														</a>)
													</li>
													<li>Antecedentes judiciales
														(<a target="_blank" href="https://antecedentes.policia.gov.co:7005/WebJudicial/" class="btn-flat btn-brand">
															<span class="icon">launch</span> consultar aquí
														</a>)
													</li>
													<li>Comprobante de consignación o transferencia bancaria
														(<a href="#bank_modal" class="btn-flat btn-brand" data-toggle="modal">
															<span class="icon">help</span> cómo pagar
														</a>)
													</li>
												</ul>
											</li>
										</ol>
										<p class="text-justify">
											Una vez registrada la solicitud de afiliación, la junta de la ACTP revisará la información y procederá
											a activar su cuenta de asociado en el sistema. Se enviará un correo a su cuenta de email registrada
											indicandole los pasos a seguir para acceder a su cuenta y registrar su(s) equipos deportivos.
										</p>
										<p>
											Si desea más información o requiere soporte para el proceso de inscripción, no dude en comunicarse a través
											de los siguientes medios:
										</p>
										<ul>
											<li><b>Email: </b>actpcolombia@gmail.com <br/></li>
											<li>
												<b>Teléfonos: </b><br/>
												- 300 367 6975 <br/>
												- 316 389 5500 <br/>
												- 300 485 9383 <br/>
											</li>
										</ul>


										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-4 col-sm-push-0">
							<div class="card" style="margin-top:0">
								<div class="card-main">
									<div class="card-inner" style="margin:0">
										<img src="{% static 'images/torneo.jpg' %}" style="max-width:100%" alt=""/>
									</div>
									<div class="card-action">
										<div class="card-action-btn pull-right">
											<a class="btn btn-brand waves-attach waves-effect" href="{% url 'frontend:subscribe' %}">
												<span class="icon">content_paste</span>&nbsp;Inscribirse
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endblock %}
					</section>
				</div>
			</div>
		</div>
	</main>
	<footer class="ui-footer">
		<div class="container">
			<p>&copy; Asociación Colombiana de Tiro de Precisión - ACTP, 2016</p>
		</div>
	</footer>
	<div aria-hidden="true" class="modal fade" id="bank_modal" role="dialog" tabindex="-1" style="display: none;">
		<div class="modal-dialog">
			<div class="card">
				<div class="card-main">
					<div class="card-header">
						<div class="card-inner">
							<span class="card-heading">Cómo realizar el pago de la inscripción</span>
						</div>
					</div>
					<div class="card-inner">
						<p class="text-justify">
							El pago deberá realizarse de la siguiente manera:<br><br>
							<b>Banco: </b>Bancolombia.<br>
							<b>A nombre de: </b>Asociación Colombiana de Tiro de Precisión.<br>
							<b>Cunta de ahorros N°: </b>647 379 034 68<br>
							<b>Valor: </b> $71.000 (Consignación) o $60.000 (Transferencia)<br>
						</p>
					</div>
					<div class="card-action">
						<div class="card-action-btn pull-right">
							<a class="btn btn-flat waves-attach waves-effect" data-dismiss="modal">
								<span class="icon">close</span>&nbsp;Cerrar
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% block float_action %}

	{% endblock %}

	<!-- js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="{% static 'js/base.min.js' %}"></script>
	<script src="{% static 'js/project.min.js' %}"></script>
	<script type="text/javascript">
		{% block js %}
			$(document).ready(function(){

				$('#id_birth_date, #id_member_since').pickdate({
					closeOnCancel: false,
					closeOnSelect: true,
					container: '',
					firstDay: 1,
					format: 'dd/mm/yyyy', // escape any formatting characters with an exclamation mark
					formatSubmit: 'dd/mm/yyyy',
					selectMonths: true,
					selectYears: 90,
					today: '',
				});



				$("#id_photo,#id_dni_support,#id_reference_letter,#id_request_letter,#id_release_letter,#id_eps_affiliation,#id_legal_records,#id_bank_deposit")
					.hide().siblings('label').after('<input type="text" class="replace form-control"/>');

				$(".replace").bind('click', function(){
					$(this).siblings('input[type=file]').click();
				});

				$("#id_photo,#id_dni_support,#id_reference_letter,#id_request_letter,#id_release_letter,#id_eps_affiliation,#id_legal_records,#id_bank_deposit")
					.bind('change', function(){
						$(this).siblings('.replace').val($(this).val().split(/(\\|\/)/g).pop())
				});

				$('select option:first').html('').removeAttr('selected').removeAttr('value');

			});
		{% endblock %}
	</script>

</body>
</html>